body {
  /* background-image: url(./images/ron-lach-tinta.jpg);
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  display: block; */
  background: #f1f1f1;
  margin: 0 auto;
  max-width: 960px;
  font-family: "Victor Mono", monospace;
}

.App .App-header {
  margin: 100px 0 50px;
  text-align: center;
}
.App a {
  text-decoration: none;
  color: rgb(4, 31, 41);
}
.App h1 {
  font-size: 100px;
  color: rgb(4, 31, 41);
  text-shadow: 3px 2px 7px rgba(4, 31, 41, 0.4);
}
.App section {
  background-color: rgba(255, 255, 255, 0.7);
  padding: 30px 20px;
  border-radius: 10px;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2);
  margin: 30px 0;
}

.App footer {
  text-align: center;
  display: block;
  margin: 50px 0 auto;
  margin-bottom: 50px;
}

.App footer a {
  color: black;
  font-weight: 500;
  transition: all 200ms ease-in-out;
}
.App footer a:hover {
  color: #085f63;
  text-shadow: 3px 3px 11px rgba(73, 190, 183, 0.7);
}

@media (max-width: 720px) {
  body {
    max-width: 700px;
  }
  .App .App-header {
    margin: 50px 0 20px;
  }
  .App h1 {
    font-size: 50px;
  }
  .App section {
    padding: 10px 10px;
    border-radius: 10px;
    margin: 20px 0;
  }
  .App footer {
    margin: 20px 0 auto;
    margin-bottom: 20px;
    font-size: 12px;
  }
}
