.Dictionary .search-btn {
  transition: all 100ms ease-in-out;
}
.Dictionary .search-btn:hover {
  cursor: pointer;
  transform: scale(1);
  border: 1px solid rgba(134, 184, 253, 1);
}
.Dictionary form {
  margin-bottom: 50px;
}
@media (max-width: 720px) {
  .Dictionary form {
    margin-bottom: 10px;
  }
}
