.Dictionary .search-btn {
  transition: all 100ms ease-in-out;
}
.Dictionary .search-btn:hover {
  cursor: pointer;
  transform: scale(1);
  border: 1px solid rgba(134, 184, 253, 1);
}
.Dictionary form {
  margin-bottom: 50px;
}
.Dictionary .col-4 {
  padding: 0 5px;
}
.Dictionary img {
  border-radius: 6px;
  margin: 5px 0;
}
.Dictionary .row {
  margin: 0 2px;
}

@media (max-width: 720px) {
  .Dictionary form {
    margin-bottom: 10px;
  }
  .Dictionary img {
    border-radius: 4px;
    margin: 5px 0;
  }
}
