.Results section {
  background-color: rgba(255, 255, 255, 0.7);
  padding: 30px 20px;
  border-radius: 10px;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2);
  margin: 30px 0;
}
.Results .word {
  font-size: 40px;
  color: rgb(4, 31, 41);
}
.Results .phonetics {
  font-size: 20px;
}

@media (max-width: 600px) {
  .Results .word {
    font-size: 20px;
    font-weight: 500;
  }
  .Results .phonetics {
    font-size: 10px;
  }
  .Results section {
    padding: 10px 10px;
    border-radius: 10px;
    margin: 20px 0;
  }
}
